@import "tailwindcss";

@theme {
  --color-primary: #137fec;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
  --color-surface-dark: #192633;
  --color-input-dark: #233345;
  --color-border-dark: #324d67;
  --color-text-secondary: #92adc9;
}

@layer base {
  body {
    @apply bg-background-light dark:bg-background-dark font-sans text-white;
  }
}
